@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

body {
  background-color: #f4f4f4;
  color: #333;
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
}

.navbar {
  background-color: #222 !important;
  animation: fadeInUp 0.8s ease;
}


.landing-image {
  position: relative;
  width: 100vw;
  height: 100vh; 
  overflow: hidden;
}

.landing-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center; 
}

.text-overlay {
  position: absolute;
  color: #fff;
  bottom: 125px;
  padding: 15px 25px;
  border-radius: 8px;
  font-weight: bold;
  max-width: 750px; 
  animation: fadeInUp 0.8s ease; 
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text-overlay p {
  color: rgba(255, 255, 255, 0.34);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 1.2rem */
  letter-spacing: 0.0225rem;
}

.news-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 40px;
}

.news-item {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

.news-item .image-holder {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
}

.news-item .image-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-item h3 {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 600;
  color: #222;
}

.news-item p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.news-item a.continue-button {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 15px;
  padding: 8px 16px;
  background-color: #605e5e;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.news-item a.continue-button:hover {
  background-color: #eef5f9;
  color: #605e5e;
}

.trend-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 40px;
}

footer {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
}

.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.category-item {
  position: relative;
  border-radius: 10px;
}

.category-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.category-item:hover {
transform: translateY(-5px) scale(1.01);
transition: transform 0.3s ease-in-out;
box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.category-item h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.overlay-container {
  position: relative;
  display: inline-block;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5; 
  transition: opacity 0.3s;
  border-radius: 10px;
}

.overlay-container:hover .overlay {
  opacity: 1;
}

h3 {
  position: relative; 
  z-index: 1; 
  color: white; 
}
